@charset "UTF-8";
/* CSS Document */

body {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}
form {
  font-size: 0.8em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.container {
  max-width: 100%;
  width: 100%;
  padding: 0 10%;
  margin: 0;
}
/*=== Header ===*/
/*=============*/
header h1, header p {
  margin-left: 10%;
  color: #FFF;
}
header h1 a {
  color: #FFF;
}
header h1 a:hover {
  text-decoration: none;
  color: #FFF;
}
#siteBrand {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  z-index: 3;
}
/* Banner */
#frontPageBanner {
  max-height: 500px;
  overflow: hidden;
}
#frontPageBanner img {
  width: auto;
  max-width: 100%;
}
/* Slider */
.carousel {
  max-height: 500px;
  overflow: hidden;
}
/*=== Navbar ===*/
/*=============*/
#navbar {
  padding: 0;
	z-index: 200;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.navbar-nav {
  margin: 0 10%;
  width: 40%
}
a.nav-link {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.675em;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #C6B9AD;
  padding: 1em 1.25em;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
}
/* Dropdown */
.dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.dropdown-item {
  font-size: 0.7em;
  padding-left: 8px;
}
.dropdown-item:focus {
  background-color: #F8F9FA;
  outline: none;
	color: #000;
}
/* Mobile Menu */
.navbar-toggler {
  border: none;
  border-radius: 0;
}
/*=== Breadcrumbs ===*/
/*==================*/
.breadcrumb {
  background: none;
  font-size: 0.8em;
  padding-left: 0;
}
breadcrumb-item::before {
  color: #ccc;
  content: ”\003e”;
}
.breadcrumb-item a {
  color: #ccc;
}
.breadcrumb-item.active {
  color: #ccc;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\00bb";
  color: #ccc;
}
/*=== Front Page ===*/
/*=================*/
.front-page-main {
  margin-top: 59px;
}
/*=== Gallery ===*/
/*==============*/
.card {
  border-radius: 0;
}
/*=== Modal ===*/
/*============*/
.modal-dialog {
  width: 100vh;
  max-width: 100%;
}
.modal-content {
  margin-top: 5%;
  border-radius: 0px;
}
.modal-content img {
  max-width: 450px;
}
.modal-body p:last-of-type {
	font-size: 1.5em;
}

/*=== Cart ===*/
/*===========*/
thead, tfoot {
  background: #c6b9ad;
  font-weight: 700;
}
thead tr th:last-of-type {
  text-align: center;
}
table .img-thumbnail {
  max-height: 250px;
}

/* Cart Mobile */
@media screen and (max-width: 576px) {
thead tr th:nth-child(2) {
	display: none;
	}
thead tr th:nth-child(3) {
	display: none;
	}
tbody tr td:nth-child(4) {
	display: none;
	}
tbody tr td:nth-child(5) {
	display: none;
	}
tfoot tr td:first-of-type {
	display: none;
	}
	tfoot tr td:last-of-type {
	display: none;
	}
	table table-hover tr {
	width: 100%;
		}	
	}

/*=== Footer ===*/
/*=============*/
footer {
}
/*=== Contactform ===*/
/*==================*/
footer form {
  width: 80%;
  margin: 10%;
  color: #555;
}
footer form button {
  float: right;
}
form label {
  margin: 0;
}
.form-control {
  border-radius: 0;
}
/*=== Buttons ===*/
/*==============*/
.btn {
  text-decoration: none;
  font-size: 0.875em;
  border-radius: 0;
}
/* Primary */
.btn-primary {
  color: #fff;
  background-color: #c6b9ad;
  border: none;
  text-decoration: none;
  padding: 6px 12px;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #d4cac2 !important;
  box-shadow: none !important;
}
.btn-primary:focus, .btn-secondary:focus {
  box-shadow: none !important;
}
/* Secondary */
.btn-secondary {
  color: #fff;
  background-color: #7F7F7E;
  border: none;
  padding: 6px 12px;
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: #E5E5E3 !important;
  box-shadow: none !important;
}
/* Link */
.btn-link {
  float: right;
  text-decoration: none;
  color: #000;
}
.btn-link:hover {
  text-decoration: none;
  color: #7f7f7f;
}
/* CLose */
button.close {
  outline: none;
}

.visible {
		display: block !important;

}